
body{
    /* background-color:#1a1e30 ; */
    background-color:#1a2230 ;
    font-family: 'Open Sans';
    font-weight: 400;
    /* overflow: hidden; */
}
/* HEADER */
.header{
    background-color: transparent;
    /* height: 30vh; */
    padding-bottom: 2rem;

}
.header-title{
    font-size: 50px;
    color: white;
}
/* NAVBAR */
nav{
    color: white;
}
.navbar {
    z-index: 1050; /* Higher than other elements on the page */
    font-size: 20px;
}


.nav-logo{
    height: 20vh;
    
}
.location-content, .link-to-contact{
   
    background-color: rgb(238, 238, 238);
    color: black;
    width: 100%;
    padding: 3rem;
    margin-top: 3rem;
    
}
.hospital-icon{
    height: 50vh;
    width: 40vw;
    border-radius: 400px;
}
.copy-button {
    color: #505951;
    /* color: rgb(255, 255, 255); */
    background-color: rgba(56, 152, 236, 0);
    border: 2px solid rgb(222, 222, 222);
    border-radius: 50px;
    /* justify-content: center;
    align-items: center; */
    /* padding: 8px 15px; */
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    display: flex;
    transition: all ease-in 0.2s;
}
.location-title{
    font-size: 60px;
    font-family: 'Oswald';
}
.location-mapa{
    background-color: rgb(238, 238, 238);

    
    

}
.mapa-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.location-info{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.copy-button:hover{
    /* color: rgb(255, 255, 255); */
    background-color: rgba(189, 216, 239, 0.256);


}

.contact-now {
    color: #505951;
    background-color: rgba(56, 152, 236, 0);
    border: 1px solid #505951cf;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    display: flex;
    transition: all ease-in 0.2s;
    cursor: pointer;
}
.contact-now:hover{
    color: rgb(9, 23, 36);
    background-color: #777777;
    color: white;

}
/*  */
.location-damas{
    /* background: linear-gradient(rgba(69, 69, 69, 0.688),rgba(76, 76, 76, 0.491)),url('/pages/imgs/damas-hospital.jpg'); */
    background-color: rgb(238, 238, 238);
    padding-top: 3rem;
    background-size: cover;
    background-position: center;
    /* height: 80vh; */

}

/*  */
#location_map{
    /* position: absolute;  */
    height: 45vh;
    width: 50vw;

    /* top: 0; 
    bottom: 0;  */
    /* width: 40vw; */
    /* z-index: -1; */

}
#about-intro{
    background-color: white;
}

.dropdown-menu{
    background-color: #1a1e30;
    /* border-color: white; */
}
.about-tag{
    font-size: 35px;
    font-family: 'Oswald';

}
.dropdown-item{
    color: white;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.info-hospital{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#specialities{
    width: 100vw;
    /* height: 90vh; */
    /* background-color: #2b3951b7; */
    /* background-color: white; */
    /* z-index: 1; */
}
.some-text{
    font-size: 40px;
}

#footer{
    /* height: 20vh; */
    width: 100vw;
    /* background-color: rgb(238, 238, 238); */

}
/* .footer-container{
    height: 100%;
} */
/* .damas{
    height: 30vh;
} */
/* .damas-logo{
    height: 10vh;
    
    
} */
/* .hero-foot{
    color: white;
} */
/* .hero-logo-foot{
    height: 3vh;
} */
.foot-logo-container{
    height: 30vh;
}
.foot-logo-container-img{
    height: 20vh;

    
}
.hospital-imagen{
    width: 30vw;
    margin-left: 2rem;
    /* border-top-left-radius: 30px; */
    /* border-top-right-radius: 30px; */


}

@media (max-width: 768px) {
    /* .about-text{
        height: 150vh;
    }
    #about-company{
        height: 160vh;
    } */
    /* .specialisties-list, .some-text,.white-rounded-buttons{
        font-size: 16px;
    } */
    .some-text{
        font-size: 16px;
    }
    /* .about-tag{
        font-size: 25px;
    
    } */
    .header-title{
        font-size: 35px;
    }
    /* #footer{
        height: 40vh;
    } */
    .hospital-imagen{
        width:83vw;
        margin-left: 0rem;
        /* border-top-left-radius: 30px; */
        /* border-top-right-radius: 30px; */
    
    
    }
    #location_map{
        width: 95vw;

    }
    .hospital-icon-container{
        display: none;
    }
    .info-hospital{
        align-items: center;
    }
    .location-damas{
        align-items: center;
    }
    .location-info{
        align-items: center;
    }
    .mapa-info{
        align-items: center;
    }
  

}
@media (min-width:769px) and (max-width: 991px) {
    /* .about-text{
        height: 120vh;
    }
    #about-company{
        height: 140vh;
    } */
    /* #footer{
        height: 40vh;
    } */
    .hospital-imagen{
        width: 75vw;
        margin-left: 0rem;
        /* border-top-left-radius: 30px; */
        /* border-top-right-radius: 30px; */
    
    
    }
    #location_map{
        width: 75vw;

    }
    .some-text{
        font-size: 20px;
    }
    .hospital-icon-container{
        display: none;
    }
    .info-hospital{
        align-items: center;
    }
    .location-damas{
        align-items: center;
    }
    .location-info{
        align-items: center;
    }
    .mapa-info{
        align-items: center;
    }
  


}

/* Larger devices (desktops, more than 992px) */
@media (min-width: 992px) {
    /* .specialisties-list, .some-text,.white-rounded-buttons{
        font-size: 15px;
    } */
    .some-text{
        font-size: 25px;
    }
   
    /* .about-tag{
        font-size: 30px;
    
    } */
    .header-title{
        font-size: 45px;
        
    } 
    /* .location-info{
        align-items: center;
    } */
    
 
}

