
body{
    background-color:#1a1e30 ;
    background-color:#1a2230 ;
    font-family: 'Open Sans';
    font-weight: 400;
    /* overflow: hidden; */
}
/* HEADER */
.header{
    background-color: transparent;
    /* height: 30vh; */
    padding-bottom: 2rem;

}
.header-title{
    font-size: 45px;
    color: white;
}
.sub-titles{
    font-family: 'Open Sans';
    font-weight: bold;
    
}
/* NAVBAR */
nav{
    color: white;
}

.nav-logo{
    height: 20vh;
    
}
#about-intro{
    background-color: white;
}

.dropdown-menu{
    background-color: #1a1e30;
    /* border-color: white; */
}
.dropdown-item{
    color: white;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
#specialities{
    width: 100vw;
    /* height: 80vh; */
    background-color: white;
}
.some-text{
    font-size: 17px;
}
.navbar {
    z-index: 1050; /* Higher than other elements on the page */
    font-size: 20px;
}
.titles{
    font-family: 'Oswald';
    font-size: 70px;
    padding-bottom: 3rem;
}

/* #footer{
    height: 40vh;
    width: 100vw;
} */
.bio-text{
    line-height: 32px;
}

#footer{
    height: 50vh;
    width: 100vw;
}
.footer-container{
    height: 90%;
}
.damas{
    height: 30vh;
}
.damas-logo{
    height: 20vh;
    
    
}
.hero-foot{
    color: white;
}
.hero-logo-foot{
    height: 3vh;
}
.foot-logo-container{
    height: 30vh;
}
.foot-logo-container-img{
    height: 20vh;

    
}





@media (max-width: 768px) {
    /* .about-text{
        height: 150vh;
    }
    #about-company{
        height: 160vh;
    } */
    /* .specialisties-list, .some-text,.white-rounded-buttons{
        font-size: 16px;
    } */
    .some-text{
        font-size: 16px;
    }
    /* .about-tag{
        font-size: 25px;
    
    } */
    .header-title{
        font-size: 30px;
    }
    /* #footer{
        height: 70vh;
    } */
    .foto-bio{
        height: 500px;
    }

    .titles{
        font-size: 50px;
    }
    .foot-logo-container-img{
        height: 15vh;
    }
    .damas-logo{
        height: 15vh;

    }

}
@media (min-width:769px) and (max-width: 991px) {
    /* .about-text{
        height: 120vh;
    }
    #about-company{
        height: 140vh;
    } */
    /* #footer{
        height: 70vh;
    } */
    .foto-bio{
        height: 500px;
    }


}

/* Larger devices (desktops, more than 992px) */
@media (min-width: 992px) {
    /* .specialisties-list, .some-text,.white-rounded-buttons{
        font-size: 15px;
    } */
    .some-text{
        font-size: 20px;
    }
   
    /* .about-tag{
        font-size: 30px;
    
    } */
    .header-title{
        font-size: 45px;
        
    } 
 
}

